.vertical{
    width: 18%;
    height: auto;
    float: left;
    margin:10px 5px 15px 5px;
    border-radius: 7px;
    box-shadow: 0 2px 3px 0px rgb(68, 68, 68);
   
}
.vertical .btn-primary{
    width: 100%;
}